{
	"ecmaFeatures": {
		"jsx": true
	},
	"plugins": [
		"react"
	],
	"env": {
		"browser": true,
		"es6": true
	},
	"globals": {
		"require": false,
		"module": true
	},
	"rules": {
		"strict": [2, "never"],
		"global-strict": 0,
		"no-extra-parens": 0,

		// React rules
		"react/display-name": 1
	}
}