extends ../layouts/main-sidebar.jade

block append delayedScripts
	//+script("/scripts/admin.js")

block append styles
	+style("/styles/admin.css")

block content
	#panel This is the admin panel

block sidebar
	p This is the sidebar.
